/* IMPOSTAZIONI GENERALI */
* {
  max-width: 500px;
}

html {
  background-image: url("../img/sfondo.png");
  background-repeat: repeat-y;
  background-size: 150%;
  background-position-y: -20em;
  background-position-x: -9em;
  font-family: Poppins;
}

.box {
  -webkit-box-shadow: 1px 3px 15px 5px rgba(0, 0, 0, 0.6);
  box-shadow: 1px 3px 15px 5px rgba(0, 0, 0, 0.6);
}

body {
  margin: 0 30px;
  line-height: 1.5;
}

b {
  font-weight: 600;
}

i {
  font-style: italic;
}

p,
ul,
ol,
li,
table,
form,
h3,
h4 {
  margin: 20px;
}

/* HEADER */
header {
  margin: 30px auto;
  text-align: center;
}

.header_box {
  background-color: #0088aa;
  padding: 30px 30px 40px 10px;
}

.nav {
  color: white;
  text-decoration-line: none;
  padding: 20px;
  font-size: 1.2em;
  font-weight: 400;
}

/* MAIN */

main {
  margin: 30px auto;
}

.main_box {
  background-color: white;
  padding-bottom: 10px;
}

h2 {
  font-size: 2em;
  padding: 40px 10px 0px 10px;
}

.video {
  padding: 20px;
}
iframe {
  border-radius: 30px;
}

code {
  font-size: 90%;
  background-color: #ddddde;
  border-radius: 5px;
  border: solid 1px #908e8f;
}

.emphasise {
  color: #0099bb;
  text-decoration: underline;
}

.emphasise1 {
  color: #aa2072;
}

.emphasise2 {
  color: white;
  font-size: 0.8em;
  font-weight: 600;
}

/* ELEMENTI NEL MAIN - ARTICLE */

.credit {
  color: #908e8f;
}

/* TABELLE */
#distribution {
  border-collapse: collapse;
  text-align: center;
  border-bottom: solid 2px #3366cc;
}

#distribution td,
#distribution th {
  border-bottom: 1px solid #ddd;
  padding: 8px;
}

#distribution th {
  border: solid 1px #688cd2;
}

#distribution tr:nth-child(odd) {
  background-color: #f2f2f2;
}

#distribution th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #3366cc;
  color: white;
}

/* FORM */

input,
button {
  text-align: center;
  border: none;
  font-size: 1.1em;
}

input {
  border-bottom: dashed black 1px;
  font-size: 1.15em;
}

button {
  background-color: #3567e9;
}

/* ELEMENTI NELL' ASIDE */

h3 {
  font-size: 2em;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 30px;
}
.box_articoli {
  padding: 20px;
  margin: 20px;
  background-color: #ddddde;
  border: solid 1px #cccccc;
}

/* FOOTER */
.footer_box {
  text-align: center;
  margin: 30px auto 20px;
  padding: 20px;
  padding-top: 5px;
  color: white;
  background: rgb(0, 85, 102);
  background: linear-gradient(
    180deg,
    rgba(0, 85, 102, 1) 41%,
    rgba(42, 51, 56, 1) 89%
  );
}

h4 {
  padding: 0px 10px 5px 10px;
}

.p_footer {
  padding: 10p;
}

.mail {
  color: #ff00fe;
}
